.footer {
  background: #171616;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  color: #fff;
}

.footerContent {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.logo a {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.logo a:hover {
  color: #3d6bff;
}

.footerLinks {
  list-style: none;
  display: flex;
  gap: 20px;
}

.footerLinks li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 600;
}

.footerLinks li a:hover {
  color: #3d6bff;
}

.socials {
  display: flex;
  gap: 15px;
  font-size: 22px;
}

.socials a {
  color: #fff;
  transition: 0.3s;
}

.socials a:hover {
  color: #3d6bff;
}

.copy {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #aaa;
}

@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    gap: 15px;
    text-align: center;
    align-items: center;
  }

  .footerLinks {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 0;
  }

  .socials {
    justify-content: center;
  }

  .logo a {
    display: inline-block;
    text-align: center;
  }
}
